#header {
  background: $dark-blue;
  color: #fff;

  .container {
    @include mobile-only {
      width: 100%;
      padding-bottom: 25px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .text {
    font-family: 'Audiowide', arial, sans-serif;
  }

  .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary {
    font-weight: normal;
  }

  .dropdown-toggle.nav-item.active {
    font-weight: bold;
  }

  .dropdown-menu > .active > a {
    background-color: $turquoise;
  }

  &.scrolled {
    background: white;
  }

  .navbar-collapse {

    @include mobile-only {
      position: relative;
      left: auto;
      top: auto;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
}
