body {

  .home-page {

    p {
      margin-top: 25px;
      margin-bottom: 0px;
      padding: 15px;
      color: $gray;
      font-size: 17.5px;
      @include border-radius(5px);

    }

    .teaser {
      padding-top: 120px;
      padding-bottom: 100px;
      margin-bottom: 0px;
      background: $dark-blue;

      @include phone-to-medium-desktop-only {
        padding-top: 1px;
      }

      p {
        padding: 0px;
      }

      .title-main,
      .title-sub {
        color: white;
        margin-top: 0;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      }

      .title-main {
        font-size: 96px;
        font-weight: 400;
        font-family: 'Audiowide', arial, sans-serif;
      }

      .title-sub {
        font-size: 34px;
        margin-top: 15px;
        font-weight: 700;
      }

      @include from-mobile {
        height: auto;
      }

      h2 .gizra-logo {
        display: inline-block;
        font-size: 42px;
        letter-spacing: 0.035em;
      }

      .intro {
        margin: 15px auto 0px auto;
        max-width: 900px;
        padding: 10px;
        color: $turquoise;

        h4 {
          font-size: 23px;
          font-weight: bold;
          letter-spacing: 1px;
        }

        p {
          margin: 0px;
        }
      }

      .container {
        max-width: 800px;

        .strong{
          color: $gray;
        }

        .light-box {
          background-color: rgba(123, 135, 146, 0.12);
        }

        .video {
          max-width: 500px;
          margin: 15px auto 0px auto;
          padding: 15px;
          background: rgba(123, 135, 146, 0.12);
          border: 1px solid rgba(255, 255, 255, 0.14);
          @include border-radius(4px);
          @include box-shadow(4px , 4px , 30px ,0px , #252729);

          img {
            border: 1px solid #A2A2A2;
          }
        }

        .text-line-throw {
          margin-top: 42px;

          h3 {
            margin: 0 auto;
            color: $gray;
            width: 80%;
            text-align:center;
            border-bottom: 1px solid rgba(255, 255, 255, 0.36);
            line-height:0.1em;

            span {
              background: $dark-blue;
              padding:0 10px;
            }
          }
        }

        .tutorial-link {
          font-size: 16px;
          font-weight: normal;
          padding: 10px;
          border: 1px solid rgba(255, 255, 255, 0.36);
          border-radius: 8px;
          text-decoration: none;
          color: rgba(255, 255, 255, 0.75);
          margin: 65px auto 0px auto;
          display: inline-block;

          &:hover, &:focus {
            color: white;
            background: $dark-blue;
          }
        }

        .contact-us-title {
          margin-top: 35px;
          font-size: 21px;
          margin-bottom: -10px;
          display: inline-block;
          padding: 10px;
          background-color: $gizra;
          color: white;

          .gizra-logo {
            color: white;
          }
        }
      }
    }

    .more-shoov {
      position: relative;

      .container {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.22);
        @include border-radius(5px);
        max-width: 770px;
        bottom: -124px;
        z-index: 100;
        @include box-shadow(2px , 2px , 20px ,0px , rgba(37, 39, 41, 0.22));

        @include phone-to-mobile-only {
          border-radius: 0px;
        }

        @include phone-only {
          margin-left: 15px;
          margin-right: 15px;
        }

        p {
          font-size: 18px;
          color: $medium-blue;
        }

        #trial-form {
          padding: 20px;

          .form-group {
            padding: 0px;

            &:last-child {
              margin-bottom: 0px;
            }
          }
        }
      }
    }

    #clients {
      background: #f5f5f5;
      padding-top: 180px;
      position: relative;

      .alert {
        display: none;
      }

      .container {
        max-width: 800px;

        .logo {
          float: left;
          height: 120px;
          line-height:120px;
          text-align:center;

          img {
            vertical-align: middle;
            display: inline-block;
          }

          @media (min-width: $screen-xs-max) {
            width: 25%;
          }
        }
      }
    }

    #links {
      margin-top: 20px;
      margin-bottom: 35px;

      .container {
        max-width: 800px;

        h2 {
          margin-bottom: 10px;

          @include phone-only {
            text-align: left;
          }
        }

        ul {
          padding: 0px;
          list-style: none;

          li {
            padding: 8px;

            a {
              color: $gray-medium;
              text-decoration: none;
              display: block;

              &:hover {
                color: $gray
              }
            }
          }
        }
      }
    }
  }
}
