@import "../stylesheets/theme-style.css";
@import "_syntax";
@import "_mixins";
@import "_header";
@import "_footer";
@import "_homepage";
@import "_glossary";

body {
  background: $light-gray;
  font-family: 'Fira Sans', arial, sans-serif;

  main {
    &:not(.home-page) {
      margin-top: 95px;
    }
  }

  .gizra-logo {
    font-family: Abril Fatface;
    color: $gizra;

    &:hover, &:focus {
      text-decoration: none;
      color: $gizra-dark;
    }
  }

  .turquoise {
    color: $turquoise;
  }

  .white {
    color: white;
  }

  a {
    color: $turquoise;

    &:hover, &:focus {
      color: $light-turquoise;
    }
  }

  .btn-primary {
    color: white;
    background-color: $turquoise;
    border-color: $turquoise;

    &:hover {
      background-color: $dark-turquoise;
      border-color: $dark-turquoise;
    }
  }

  hr {
    background: rgb(245, 245, 245);
    height: 1px;
    width: 90%;
    display: block;
    border-bottom: 1px solid rgb(226, 226, 226);
  }

  .title {
    font-family: 'Droid Serif', serif;
    margin-top: 25px;
    margin-bottom: 25px;
    color: $gray-medium;
  }
}
