@import "../stylesheets/theme-style.css";
@import "_syntax";
@import "_mixins";

.gizra-logo {
  font-family: Abril Fatface;
  color: $gizra-color;
}

.turquoise {
  color: $turquoise;
}

main {

  &:not('.home-page') {
    margin-top: 95px;
  }

  .promo.section {
    background: #253340;

    .gizra-logo {
      display: inline-block;
      margin-left: 10px;
      font-size: 48px;
      letter-spacing: 0.015em;
    }


    .intro {
      max-width: 800px;
      margin-top: 25px;
      border: 1px solid #28A5A8;
      padding: 20px;
      display: inline-block;
      border-radius: 5px;
      box-shadow: 2px 2px 20px #252729;

      @include mobile-to-all {
        background: red;
      }

      strong {
        font-size: 20px;
        width: 100%;
        display: inline-block;
      }
    }
  }
}

#header {
  background: $dark_blue;
  color: #fff;

  .dropdown-toggle.nav-item.active {
    font-weight: bold;
  }

  .dropdown-menu > .active > a {
    background-color: $turquoise;
  }

  &.scrolled {
    background: white;

    .main-nav .nav >.nav-item a {
    }

    .main-nav .nav .dropdown-menu a {
    }
  }
}
