@import "../stylesheets/theme-style.css";
@import "_syntax";
@import "_mixins";

.gizra-logo {
  font-family: Abril Fatface;
  color: $gizra-color;
}

.turquoise {
  color: $turquoise;
}

a {
  color: $turquoise;

  &:hover, &:focus {
    color: $light-turquoise;
  }
}

main {

  &:not('.home-page') {
    margin-top: 95px;
  }

  .promo.section {
    padding-top: 90px;
    background: #253340;
    margin-bottom: 0px;

    @include from-mobile {
      height: auto;
    }

    .gizra-logo {
      display: inline-block;
      margin-left: 10px;
      font-size: 48px;
      letter-spacing: 0.015em;
    }

    .container {
      max-width: 800px;

      .light-box, .intro {
        max-width: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 20px;
        display: inline-block;
        color: $gray;
        font-size: 18px;
        border-radius: 5px;
      }

      .light-box {
        background-color: rgba(123, 135, 146, 0.12);

      }

      .intro {
        border: 1px solid $turquoise;
        box-shadow: 2px 2px 20px #252729;

        .first-liner {
          font-weight: bold;
          font-size: 20px;
          width: 100%;
          display: inline-block;
        }
      }

      .video {
        margin: 0 auto;
        padding: 15px;
        background-color: rgba(123, 135, 146, 0.12);
        border-radius: 4px;
      }
    }

  }
}

#header {
  background: $dark_blue;
  color: #fff;

  .dropdown-toggle.nav-item.active {
    font-weight: bold;
  }

  .dropdown-menu > .active > a {
    background-color: $turquoise;
  }

  &.scrolled {
    background: white;

    .main-nav .nav >.nav-item a {
    }

    .main-nav .nav .dropdown-menu a {
    }
  }
}
