<!DOCTYPE html>
<!--[if IE 8]> <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" class="ie8"> <![endif]-->
<!--[if IE 9]> <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us"> <!--<![endif]-->
{% include head.html %}
  <body>
  {% if site.debug_responsive %}
    {% include debug-responsive.html %}
  {% endif %}
    <header id="header" class="header">
      <div class="container">
        <h1 class="logo">
          <a href="/"><span class="text">Shoov</span></a>
        </h1>
        <nav class="main-nav navbar-right" role="navigation">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary" href="https://app.shoov.io"><i class="fa fa-user"></i> Login or register</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <main class="{% if page.title == 'Home' %}home-page{% endif %}">
      {{ content }}
    </main>
    <footer id="footer">
      <div class="container company-detail">
       <div class="country clearfix">
         <span class="turquoise">Israel Headquarters</span>
         <span>5 Brenner St., Tel-Aviv</span>
         <span>+972-3-3731222</span>
         <span><a href="mailto:info@gizra.com" class="email">info@gizra.com</a></span>
       </div>
       <div class="country clearfix">
         <span class="turquoise">United States Office</span>
         <span>1157 Columbus Ave, 4th floor, New York, NY 10023</span>
         <span>+1-347-686-4508</span>
         <span><a href="mailto:info@gizra.com" class="email">usoffice@gizra.com</a></span>
       </div>
      </div>
    </footer>
  </body>
</html>
