<!DOCTYPE html>
<!--[if IE 8]> <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" class="ie8"> <![endif]-->
<!--[if IE 9]> <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us"> <!--<![endif]-->
  {% include head.html %}
  <body>

  <header id="header" class="header navbar-fixed-top">
    <div class="container">
      <h1 class="logo">
        <a href="/"><span class="text">Shoov.io</span></a>
      </h1>
      <nav class="main-nav navbar-right" role="navigation">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="nav-item {% if page.title == 'Home' %} active {% endif %}"><a href="/">Home</a></li>
            <li class="nav-item {% if page.title == 'Glossary' %} active {% endif %}"><a href="/glossary">Glossary</a></li>
            <li class="nav-item dropdown">
              <a class="dropdown-toggle nav-item {% if page.type == 'tutorial' %} active {% endif %}" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Toturial <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu">
                {% assign tutorials = site.pages %}
                {% for node in tutorials %}
                  {% if node.title != null %}
                    {% if node.type == 'tutorial' %}
                <li class="{% if page.url == node.url %} active {% endif %}"><a href="{{ node.url }}">{{ node.title }}</a></li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary" href="https://app.shoov.io">Login or register into the app</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <main>
    {{ content }}
  </main>
  </body>
</html>
