<!DOCTYPE html>
<!--[if IE 8]> <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" class="ie8"> <![endif]-->
<!--[if IE 9]> <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us"> <!--<![endif]-->
{% include head.html %}
  <body>
  {% if site.debug_responsive %}
    {% include debug-responsive.html %}
  {% endif %}
    <header id="header" class="header navbar-fixed-top">
      <div class="container">
        <h1 class="logo">
          <a href="/"><span class="text">Shoov</span></a>
        </h1>
        <nav class="main-nav navbar-right" role="navigation">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="nav-item {% if page.title == 'Home' %} active {% endif %}"><a href="/"><i class="fa fa-home"></i> Home</a></li>
              <li class="nav-item {% if page.title == 'Glossary' %} active {% endif %}"><a href="/glossary"><i class="fa fa-book"></i> Glossary</a></li>
              <li class="nav-item {% if page.type == 'tutorial' %} active {% endif %}"><a href="/tutorials/lesson1-install/"><i class="fa fa-graduation-cap"></i> Tutorial</a></li>
              <li class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary" href="https://app.shoov.io"><i class="fa fa-user"></i> Login or register</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <main class="{% if page.title == 'Home' %}home-page{% endif %}">
      {{ content }}
    </main>
    <footer id="footer">
      <div class="container">
        <ul class="company-detail">
          <li>
            <div class="turquoise">Israel Headquarters</div>
            <div class="turquoise">United States Office</div>
          </li>
          <li>
            <div>5 Brenner St., Tel-Aviv </div>
            <div>1157 Columbus Ave, 4th floor | New York, NY 10023</div>
          </li>
          <li>
            <div>+972-3-3731222</div>
            <div>+1 347 686-4508</div>
          </li>
          <li>
            <div><a href="mailto:info@gizra.com" class="email">info@gizra.com</a></div>
            <div><a href="mailto:info@gizra.com" class="email">usoffice@gizra.com</a></div>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
